name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@main
    with:
      nimble-version: b920dad9ed76c6619be3ec0cfbf0dde6f9e39092
      test-command: |
        nimble --requires:unittest2 test
        nimble --requires:unittest2 --requires:chronicles test_chronicles

  nph:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check `nph` formatting
        uses: arnetheduck/nph-action@v1
        with:
          version: 0.6.1
